body {
  margin: 0;
}

.page {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  min-height: 100vh;
  width: 100vw;
  /* font-family: 'Open Sans', sans-serif; */
}

.main {
  position: relative;
  flex: 1 1 100%;
  width: calc(100% - 50px);
  box-sizing: content-box;
  padding-left: 50px;
  transition: padding linear 0.2s, width linear 0.2s;
}

.main--sidebar-open {
  padding-left: 250px;
}

.main--break-content {
  width: calc(100% - 250px);
}

.page-mobile .main--sidebar-open {
  padding-left: 0;
}
.page--mobile .main {
  padding-left: 0;
}

.page--mobile .sidebar {
  width: 250px;
  z-index: 200;
  transform: translateX(-100%);
}
.main--sidebar-open .sidebar {
  width: 250px;
}
.page--mobile .main--sidebar-open .sidebar {
  transform: translateX(0);
}
