/* .toggle-button {
  height: 40px;
  width: 40px;
  font-size: 1.4em;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
} */

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  margin: 16px 0;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 30px;
  height: 2px;
  background: white;
}
