.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  overflow: hidden;
  background-color: #bdc3c7;
  transition: width linear 0.2s, transform linear 0.2s;
}

.sidebar ul {
  padding-inline-start: 0px;
  /* height: 100%; */
  list-style: none;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.sidebar li {
  margin: 0.5rem 0;
}

.sidebar__item {
  width: 250px;
}

.sidebar a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: #521751;
  text-decoration: none;
  font-size: 1.2rem;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  color: white;
  height: 50px;
  width: 50px;
}
.link-text {
  width: 200px;
  color: white;
}
