.main {
  top: 56px;
  background-color: yellow;
}

@media (min-width: 769px) {
  .main {
    position: relative;
    margin-left: 70px;
    z-index: 0;
    padding: 20px;
    max-width: calc(100% - 70px);
    overflow: hidden;
    transition: all 300ms ease-in-out;
  }
  .main.open {
    padding-left: 200px;
  }
}

@media (max-width: 768px) {
  .main {
    position: fixed;
    right: 0px;
  }
}
